In [6]:
p = 478
N = 71240
score = zeros(p)
marbles = [0]

1-element Array{Int64,1}:
 0

Here are a few more examples:

  - 10 players; last marble is worth 1618 points: high score is 8317
  - 13 players; last marble is worth 7999 points: high score is 146373
  - 17 players; last marble is worth 1104 points: high score is 2764
  - 21 players; last marble is worth 6111 points: high score is 54718
  - 30 players; last marble is worth 5807 points: high score is 37305

In [41]:
p,N = 478,71240
# p,N = 30,5807 # test
score = zeros(p)
marbles = [0]
pos = 1
sc = []
for m in 1:N
    global pos
    lm = length(marbles)
    if m % 23 != 0
        pos = mod1(pos+1,lm)
        if pos == lm
            push!(marbles,m)
        else
            insert!(marbles,pos+1,m)
        end
        pos = mod1(pos+1,lm+1)
    else
        pos = mod1(pos - 7,lm)
        score[mod1(m,p)] += m + marbles[pos]
        push!(sc,(pos,m + marbles[pos]))
        deleteat!(marbles,pos)
        pos = mod1(pos,length(marbles))
    end
end

print(maximum(score))

In [40]:
maximum(score)

5.93762263e8

In [43]:
[x - i*23 for (i,x) in enumerate(sc)]

252-element Array{Int64,1}:
    9
   17
   11
   15
   50
   58
   66
   33
   37
   99
  107
   45
   55
    â‹®
 2397
 2405
  450
  195
 2434
 2446
 2454
 2460
  458
 2487
 2495
 1085