In [1]:
s = open("input.txt") do f
    [chomp(x) for x in readlines(f)]
end

SystemError: SystemError: opening file input.txt: No such file or directory

# Part 1

In [28]:
sid = 3613

3613

In [8]:
function plev(i,j)
    rack_id = i+10
    p = rack_id*j + sid 
    p *= rack_id
    p =  ((p > 99) ?  parse(Int,string(p)[end-2:end-2]) : 0)
    return p-5
end

plev (generic function with 1 method)

In [54]:
sid = 3613

3613

In [55]:
A = [plev(i,j) for i in 1:300,j in 1:300]

300×300 Array{Int64,2}:
  3   4  -4  -3  -2  -1   0   2   3  …  -5  -4  -2  -1   0   1   3   4  -5
  0   1   2   4  -5  -3  -2   0   1     -1   0   1   3   4  -4  -3  -1   0
 -4  -2  -1   1   3   4  -4  -2  -1     -2  -1   1   3   4  -4  -2   0   1
  2   4  -4  -2   0   2   4  -4  -2      3  -5  -3  -1   0   2   4  -4  -2
 -1   1   3  -5  -2   0   2   4  -3      3  -4  -2   0   2  -5  -3  -1   1
 -5  -2   0   3  -5  -2   1   3  -4  …   0   3  -5  -2   0   3  -5  -2   1
  2   4  -3   0   3  -4  -1   2  -5      3  -5  -2   1   4  -3   0   3  -4
 -2   1  -5  -2   1   4  -2   1   4      1   4  -3   1   4  -3   0   4  -3
 -5  -2   2  -5  -1   3  -4   0   3     -5  -1   2  -4   0   3  -3   0   4
  1  -5  -1   3  -3   1  -5  -1   3     -5  -1   3  -3   1  -5  -1   3  -3
 -2   2  -4   1  -5   0   4  -1   3  …   1  -5   0   4  -1   3  -3   2  -4
  4  -1   4  -1   4  -2   3  -2   3      3  -3   2  -3   2  -3   2  -3   1
  1  -4   1  -3   2  -3   3  -2   3      0  -5   1  -4   1  -3   2  -3   2
  ⋮                   ⋮              ⋱                   ⋮
  1  -5  -1   3  -3   1  -5  -1   3     -2   2  -4   0   4  -2   2  -4   0
  4   4   4   4   4   4   4   4   4      4   4   4   4   4   4   4   4   4
 -4   2  -2   4   0  -4   2  -2   4  …  -5   1  -3   3  -1  -5   1  -3   3
 -2   0   2   4  -4  -2   0   2   4      1   3  -4  -2   0   2   4  -4  -2
  0  -2  -4   4   2   0  -1  -3  -5      4   2   0  -2  -3  -5   3   1  -1
  2  -4   1  -5  -1   3  -3   1  -5      3  -3   1  -5  -1   4  -2   2  -4
  4  -5  -5  -5  -5  -4  -4  -4  -4     -3  -3  -2  -2  -2  -2  -1  -1  -1
 -3   3  -1  -4   2  -2  -5   1  -2  …  -3   4   0  -4   3  -1  -4   2  -2
 -1   1   4  -4  -1   1   4  -4  -1      3  -4  -2   1   3  -4  -2   1   3
  1   0  -2  -3  -4   4   3   2   0     -5   4   3   1   0  -1  -3  -4  -5
  3  -2   3  -2   3  -2   2  -3   2      3  -2   3  -2   2  -3   2  -3   2
 -4  -3  -2  -1   0   1   2   3   4     -3  -2  -1   0   1   2   3   4  -5

In [46]:
A[33:35,45:47]

3×3 Array{Int64,2}:
 4  3  1
 4  3  2
 4  4  4

In [47]:
sum(A[33:35,45:47])

29

In [34]:
[(i,j) for i in 1:2,j in 3:5]

2×3 Array{Tuple{Int64,Int64},2}:
 (1, 3)  (1, 4)  (1, 5)
 (2, 3)  (2, 4)  (2, 5)

In [56]:
B = [(sum(A[i:i+2,j:j+2]),i,j) for i in 1:298,j in 1:298]

298×298 Array{Tuple{Int64,Int64,Int64},2}:
 (-1, 1, 1)     (2, 1, 2)      …  (-6, 1, 297)     (-3, 1, 298)
 (-2, 2, 1)     (3, 2, 2)         (-12, 2, 297)    (-7, 2, 298)
 (-2, 3, 1)     (-5, 3, 2)        (-13, 3, 297)    (-6, 3, 298)
 (-2, 4, 1)     (-2, 4, 2)        (-11, 4, 297)    (-11, 4, 298)
 (-1, 5, 1)     (1, 5, 2)         (-13, 5, 297)    (-10, 5, 298)
 (-10, 6, 1)    (-4, 6, 2)     …  (-3, 6, 297)     (-6, 6, 298)
 (-8, 7, 1)     (-10, 7, 2)       (1, 7, 297)      (1, 7, 298)
 (-16, 8, 1)    (-14, 8, 2)       (-2, 8, 297)     (1, 8, 298)
 (-14, 9, 1)    (-9, 9, 2)        (-1, 9, 297)     (-5, 9, 298)
 (-2, 10, 1)    (-2, 10, 2)       (-5, 10, 297)    (-6, 10, 298)
 (1, 11, 1)     (-5, 11, 2)    …  (-6, 11, 297)    (-4, 11, 298)
 (4, 12, 1)     (-7, 12, 2)       (-4, 12, 297)    (3, 12, 298)
 (-2, 13, 1)    (-9, 13, 2)       (1, 13, 297)     (3, 13, 298)
 ⋮                             ⋱
 (-17, 287, 1)  (-5, 287, 2)      (-19, 287, 297)  (-7, 287, 298)
 (-2, 288, 1)   (4, 288, 2)       (-1, 288, 297)   (5, 288, 298)
 (3, 289, 1)    (13, 289, 2)      (1, 289, 297)    (11, 289, 298)
 (8, 290, 1)    (22, 290, 2)      (7, 290, 297)    (11, 290, 298)
 (-10, 291, 1)  (8, 291, 2)    …  (-6, 291, 297)   (2, 291, 298)
 (-7, 292, 1)   (-4, 292, 2)      (5, 292, 297)    (-3, 292, 298)
 (-13, 293, 1)  (-25, 293, 2)     (-1, 293, 297)   (-4, 293, 298)
 (-8, 294, 1)   (-25, 294, 2)     (-3, 294, 297)   (-11, 294, 298)
 (-3, 295, 1)   (-16, 295, 2)     (-12, 295, 297)  (-5, 295, 298)
 (2, 296, 1)    (-6, 296, 2)   …  (-16, 296, 297)  (-14, 296, 298)
 (7, 297, 1)    (-5, 297, 2)      (-17, 297, 297)  (-9, 297, 298)
 (-6, 298, 1)   (-12, 298, 2)     (-3, 298, 297)   (-9, 298, 298)

In [57]:
sort!(reshape(B,298*298),rev=true)

88804-element Array{Tuple{Int64,Int64,Int64},1}:
 (30, 20, 54)
 (28, 241, 98)
 (28, 241, 96)
 (28, 241, 94)
 (28, 241, 92)
 (27, 241, 90)
 (27, 35, 13)
 (26, 34, 48)
 (26, 20, 55)
 (25, 241, 88)
 (25, 241, 86)
 (25, 241, 84)
 (25, 241, 82)
 ⋮
 (-36, 52, 113)
 (-36, 52, 81)
 (-36, 34, 60)
 (-36, 21, 21)
 (-36, 20, 21)
 (-37, 262, 41)
 (-37, 34, 137)
 (-38, 245, 30)
 (-38, 21, 100)
 (-38, 21, 20)
 (-38, 20, 100)
 (-39, 34, 59)

In [59]:
tot = []
for k =1:300
    B = [(sum(A[i:i+k-1,j:j+k-1]),i,j,k) for i in 1:(301-k),j in 1:(301-k)]
    push!(tot,maximum(B))
end

In [60]:
maximum(tot)

(141, 233, 93, 13)